<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<h1><%= title %></h1>
	</header>
	<nav>
		<span><a title="首頁" href="/">Home</a></span>
		<% 
		if ( typeof user !== 'undefined' && user )
		{
		%>
			<span><a title="上傳" href="/upload">Upload</a><span>
			<span><a title="發表" href="/post">Post</a></span>
			<span><a title="登出" href="/logout">Logout</a></span>
		<%
		}
		else
		{
		%>
			<span><a title="登入" href="/login">Login</a></span>
			<span><a title="註冊" href="/register">Register</a></span>
		<%
		}
		%>
	</nav>
	<article>
	<% 
	if (typeof success !== 'undefined' && success)
	{
	%>
		<div><%= success %></div>
	<%
	}
	if (error)
	{
	%>
		<div><%= error %></div>
	<%
	}
	%>
