<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div id="example"></div>
	<script type="text/javacript" src="/js/react.min.js"></script>
	<script type="text/javacript" src="/js/helloWorld.js"></script>
</body>
