<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
                <link rel="stylesheet" href="/css/youbike.css"/>
                <link rel="stylesheet" href="/css/jquery.colorbox.1.3.19.3.css"/>
	<style>
		div#container{width:80%;margin:auto;}
		button{margin:5px;}
	</style>
</head>
<body>
	<%- htmlPeice %>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/react-dom.min.js"></script>
    <script type="text/javascript" src="/js/youbike.v2.js"></script>
</body>
</html>
